body {
    background-color: #f7f7f7;
}
.container {
    padding-top: 15px;
}

.highlight-container, .highlight {
    position: relative;
  }
  
  .highlight-container {
    display: inline-block;
    padding: 0px 5px 0px 5px;
    margin: 0px 7px 0px 5px;
  }
  .highlight-container:before, .highlight-container:after {
    content: " ";
    display: block;
    height: 90%;
    width: 100%;
    margin-left: -3px;
    margin-right: -3px;
    position: absolute;
  }
  .highlight-container:before {
    background: rgba(234, 221, 6, 0.9);
    transform: rotate(2deg);
    top: -1px;
    left: -1px;
  }
  .highlight-container:after {
    background: rgba(234, 210, 6, 0.6);
    top: 3px;
    right: -2px;
  }
  .highlight-container .highlight {
    color: #333;
    z-index: 4;
  }
  